PORT=4000
PASSPHRASE=
NODE_ENV=production
BASEURL=https://prerec-beauty-app.herokuapp.com
APP_SECRET=12f##!chquw
MONGO_USER=admin
MONGO_PASS=8AmhGfhHKIBh4ov0
MONGO_CLUSTER=cluster0.iaywc.mongodb.net
MONGO_DB=production
# DATABASE_URL=mysql://admin:KTgg2BkYI2)NDAbB@35.244.19.232:3306/crm
DATABASE_URL=mysql://root:@127.0.0.1:3306/CRM
REDIS_HOST=redis-13399.c251.east-us-mz.azure.cloud.redislabs.com
REDIS_PORT=13399
REDIS_PASS=MOIdKLb9SIjzoVtrTpRUhVJR6L8uukrh
TWILIO_ACCOUNT_SID=AC03d9afa0fa2e7ee4423c0e030fac7d58
TWILIO_ACCOUNT_TOKEN=35fdd6638ad1e3337ea1fba04554db5f
TWILIO_SERVICE_SID=VAe0562392a1138b42290a623493b9d5ea
CLOUDINARY_NAME=annasapp
CLOUDINARY_API_KEY=864328377582275
CLOUDINARY_API_SECRET=Edv_DACT8xH3DqVEu-LgyQVLGpQ
CLOUDINARY_ENV_VARIABLE=cloudinary://864328377582275:Edv_DACT8xH3DqVEu-LgyQVLGpQ@annasapp
NODEMAILER_USER=annaasapp@gmail.com
NODEMAILER_PASS=mxijpwebnljyfzkq
ISSUER_NAME=annaasapp
SIGNED_BY_EMAIL=annaasapp@gmail.com
AUDIENCE_SITE=https://prerec-beauty-app.herokuapp.com
GOOGLE_CLIENT_ID=785781919155-hqg90eqn4esvqq9vqqna3d230vla25dr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=nVFex9hQiMyGmz6P82Pm1gRt
FACEBOOK_CLIENT_ID=1436325920047269
FACEBOOK_CLIENT_SECRET=f5d29977da7c3feae0e6585b778f48c9