<!doctype html>
<html lang="en">
  
<!-- Mirrored from templates.iqonic.design/datum/html/backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Oct 2021 00:16:37 GMT -->
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Hisab kitab</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="https://templates.iqonic.design/datum/html/assets/images/favicon.ico" />
      
      <link rel="stylesheet" href="https://templates.iqonic.design/datum/html/assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="https://templates.iqonic.design/datum/html/assets/css/backend.css?v=1.0.0">  
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
  </div>
  <!-- loader END -->
  <!-- Wrapper Start -->
  <div class="wrapper">

<%- include('./header'); %>
